<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Document</title>
</head>
<body>
    <h1>Add Document</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_document_name">Document Name:</label>
        <input type="text" name="document_name" id="id_document_name" required><br><br>
        
        <label for="id_document">Document:</label>
        <input type="file" name="document" id="id_document" accept=".pdf,.doc,.docx" required><br><br>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>
