<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Notification</title>
</head>
<body>
    <h1>Add Notification</h1>
    {% for i in datas %}
        {{ i.tablet_name }}
    {% endfor %}
    <form method="post">
        {% csrf_token %}

        <label for="notify_time">Notify Time:</label>
        <input type="datetime-local" id="notify_time" name="notify_time"><br><br>

        <label for="tablet_name">Tablet Name:</label>
        <input type="text" id="tablet_name" name="tablet_name"><br><br>

        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity"><br><br>

        <label for="total_tablet_quantity">Total Tablet Quantity:</label>
        <input type="number" id="total_tablet_quantity" name="total_tablet_quantity"><br><br>

        <button type="submit">Add Notification</button>
    </form>
</body>
</html>
