<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Notification</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

    <div class="container mx-auto py-8">
        <div class="flex justify-center ">
            <h1 class="text-3xl font-bold mb-6">Edit Notification</h1>
        </div>
        <div class="flex justify-center">
            <form method="post" class="w-full max-w-lg bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 ">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="notify_time" class="block text-gray-700 font-bold mb-2">Notify Time:</label>
                    <input type="datetime-local" id="notify_time" name="notify_time" value="{{ notification.notify_time|date:'Y-m-dTH:i' }}" class="w-full border-2 border-gray-200 rounded py-2 px-4 focus:outline-none focus:border-blue-500">
                </div>
    
                <div class="mb-4">
                    <label for="tablet_name" class="block text-gray-700 font-bold mb-2">Tablet Name:</label>
                    <input type="text" id="tablet_name" name="tablet_name" value="{{ notification.tablet_name }}" class="w-full border-2 border-gray-200 rounded py-2 px-4 focus:outline-none focus:border-blue-500">
                </div>
    
                <div class="mb-4">
                    <label for="quantity" class="block text-gray-700 font-bold mb-2">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" value="{{ notification.quantity }}" class="w-full border-2 border-gray-200 rounded py-2 px-4 focus:outline-none focus:border-blue-500">
                </div>
    
                <div class="mb-4">
                    <label for="total_tablet_quantity" class="block text-gray-700 font-bold mb-2">Total Tablet Quantity:</label>
                    <input type="number" id="total_tablet_quantity" name="total_tablet_quantity" value="{{ notification.total_tablet_quantity }}" class="w-full border-2 border-gray-200 rounded py-2 px-4 focus:outline-none focus:border-blue-500">
                </div>
                <div class="flex justify-center">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Save Changes</button>
                </div>
    
            </form>
    
        </div>

    </div>

</body>
</html>
