<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Notification</title>
</head>
<body class=" ">
    <!-- Audio element for bell ringing sound -->
    <audio id="bellAudio" loop>
        <source src="{% static 'moye.mp3' %}" type="audio/mpeg">
        <!-- Provide alternative sources for different browsers if necessary -->
        Your browser does not support the audio element.
    </audio>

    <div class="min-h-[100vh] bg-[#0F172A] flex flex-col justify-center items-center">
        <h1 class="text-4xl font-bold text-[#f8fb3e] m-2">Remainders 🔔</h1>
        <div class="w-[80vw] md:w-[60vw] bg-[#f4f4f4] h-[60vh] md:h-[70vh] rounded-3xl flex flex-col  items-center">
            <img src="" alt="bell Notification" class="w-[40%] m-2">
            <div class="w-[80%]">
                <p class="text-xl font-semibold">{{ msg|safe }}</p>
            </div>
            <!-- Button to trigger audio playback -->
            <button onclick="playAudio()" class=" invisible">Play Bell Sound</button>
            <a href="{% url 'home' %}" onclick="" class="mt-[25%] md:mt-4 bg-[#dc2626] text-xl font-bold border rounded-2xl py-2 px-8 m-2 hover:border-[#dc2626] hover:text-[#dc2626] hover:bg-[#f5a7a7]">close</a>
        </div>
    </div>

    <!-- Script to play audio after user interaction -->
    <script>
        // Play audio when the user first interacts with the page
        document.addEventListener("mousedown", function() {
            playAudio();
            // Remove the event listener after the first interaction
            document.removeEventListener("mousedown", arguments.callee);
        });

        function playAudio() {
            var audio = document.getElementById("bellAudio");
            if (audio) {
                audio.play();
            }
        }
    </script>
</body>
</html>
