{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Medmate</title>
    <!-- loader -->
    <link href="{% static 'assets/css/pace.min.css' %}" rel="stylesheet" />
    <script src="{% static 'assets/js/pace.min.js' %}"></script>
    <!-- favicon -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon" />
    <!-- Vector CSS -->
    <link href="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet" />
    <!-- simplebar CSS -->
    <link href="{% static 'assets/plugins/simplebar/css/simplebar.css' %}" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- animate CSS -->
    <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons CSS -->
    <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS -->
    <link href="{% static 'assets/css/sidebar-menu.css' %}" rel="stylesheet" />
    <!-- Custom Style -->
    <link href="{% static 'assets/css/app-style.css' %}" rel="stylesheet" />


    <link rel="stylesheet" href=" {% static 'assets/css/chat.css' %} " />

    <script src="http://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>

    <script>
      function loadGoogleTranslate() {
        var language = document.getElementById('language').value
        var googleTranslateScript = document.createElement('script')
        googleTranslateScript.type = 'text/javascript'
        googleTranslateScript.async = true
        googleTranslateScript.src = '//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit'
        ;(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(googleTranslateScript)
      }

      function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element')
      }
    </script>
    <style>
      #google_translate_element {
          color: aliceblue;
          padding: 5px 50px;
          border: 1px solid #a5a2a2;
          border-radius: 10px;
          font-size: 14px;
          line-height: 1.5;
          background-color: rgba(169, 182, 204, 0.2);
          height: 32px;
          overflow: hidden;
          margin-left: 22px;
          display: flex;
          align-items: flex-start;
          padding: 1px;
      }
  
      #google_translate_element select {
          color: aliceblue;
          /* background-color: rgba(5, 94, 248, 0.2); */
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          background: transparent;
          border: none;
          padding-left: 5px;
          padding-right: 20px;
          background-repeat: no-repeat;
          background-position: right center;
          cursor: pointer;
      }
  </style>
  </head>

  <body class="bg-theme bg-theme1">
    <!-- Start wrapper -->
    <div id="wrapper">
      <!-- Start sidebar-wrapper -->
      <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
        <div class="brand-logo">
          <a href="index.html">
            <img src="{% static 'assets/images/logo-icon.png' %}" class="logo-icon" alt="logo icon" />
            <h5 class="logo-text">MedMate Admin</h5>
          </a>
        </div>
        <ul class="sidebar-menu do-nicescrol">
          <li class="sidebar-header">MAIN NAVIGATION</li>
          <li>
            <a href="{% url 'dash' %}"><i class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span></a>
          </li>

          <li>
            <a href="{% url 'add_notify' %}"><i class="zmdi zmdi-receipt"></i>
              <span>Add Notification</span></a>
          </li>
          <li>
            <a href=""><i class="zmdi zmdi-alarm"></i><span>Remainder</span></a>
          </li>
          <li>
            <a href=""><i class="zmdi zmdi-phone-in-talk"></i><span>Consult Now</span></a>
          </li>
          <li>
            <a href="{% url 'report' %}"><i class="zmdi zmdi-file-text"></i>
              <span> Report</span></a>
          </li>
          
          <li>
            <a href="{% url 'buymed' %}"><i class="zmdi zmdi-shopping-cart"></i>
              <span>Buy Medicine</span></a>
          </li>
          <li>
            <a href=""><i class="zmdi zmdi-camera"></i>
              <span>OCR</span></a>
          </li>
          <li>
            <a href="{% url 'meeting' %}"><i class="zmdi zmdi-videocam"></i>
              <span>Video Conferencing</span></a>
          </li>
          <li>
            <a href=""><i class="zmdi zmdi-local-hospital"></i>
              <span>Ambulance</span></a>
          </li>

          <li>
            <a href="">
              <i class="zmdi zmdi-calendar-check"></i> <span>Calendar</span>
              <small class="badge float-right badge-light">New</small>
            </a>
          </li>

          <li>
            <a href=""><i class="zmdi zmdi-account"></i>
              <span>Profile</span></a>
          </li>

          {% comment %} <li>
            <a href="{% url 'login' %}" target="_blank"><i class="zmdi zmdi-lock"></i> <span>Login</span></a>
          </li>

          <li>
            <a href="{% url 'register' %}" target="_blank"><i class="zmdi zmdi-account-circle"></i> <span>Registration</span></a>
          </li> {% endcomment %}
          <li>
            <a href="javaScript:void();"><i class="zmdi zmdi-power"></i>
              <span>Logout</span></a>
          </li>
        </ul>
      </div>
      <!-- End sidebar-wrapper -->

      <!-- Start topbar header -->
      <header class="topbar-nav">
        <nav class="navbar navbar-expand fixed-top">
          <ul class="navbar-nav mr-auto align-items-center">
            <li class="nav-item">
              <a class="nav-link toggle-menu" href="javascript:void();"><i class="icon-menu menu-icon"></i></a>
            </li>
            <li class="nav-item">
              <form class="search-bar">
                <input type="text" class="form-control" placeholder="Enter keywords" />
                <a href="javascript:void();"><i class="icon-magnifier"></i></a>
              </form>
            </li>
          </ul>

          <ul class="navbar-nav align-items-center right-nav-link">
            <!-- <li class="nav-item dropdown-lg">
              <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();"><i class="fa fa-envelope-open-o"></i></a>
            </li>
            <li class="nav-item dropdown-lg">
              <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();"><i class="fa fa-bell-o"></i></a>
            </li> -->
            <div id="google_translate_element">
            <ul style="display: none;">
              <li class="select-opt">
                <select name="language" id="language" onchange="loadGoogleTranslate()">
                  <option  value="default">EN</option>
                  <option value="Bangla">BN</option>
                  <option value="Arabic">AB</option>
                </select>
              </li>
            </ul>
            </div>
            <!-- <li class="nav-item language">
              <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();"><i class="fa fa-flag"></i></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-item">
                  <i class="flag-icon flag-icon-gb mr-2"></i> English
                </li>
                <li class="dropdown-item">
                  <i class="flag-icon flag-icon-fr mr-2"></i> French
                </li>
                <li class="dropdown-item">
                  <i class="flag-icon flag-icon-cn mr-2"></i> Chinese
                </li>
                <li class="dropdown-item">
                  <i class="flag-icon flag-icon-de mr-2"></i> German
                </li>
              </ul>
            </li> -->
            <li class="nav-item">
              <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#"><span class="user-profile"><!-- Profile icon -->
                <i class="zmdi zmdi-account" style="font-size: 36px; border-radius: 40%; padding: 8px; color: #fff; display: inline-flex; justify-content: center; align-items: center;"></i>
                </span></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-item user-details">
                  <a href="javaScript:void();">
                    <div class="media">
                      <div class="avatar">
                        <img class="align-self-start mr-3" src="https://via.placeholder.com/110x110" alt="user avatar" />
                      </div>
                      <div class="media-body">
                        <h6 class="mt-2 user-title">Sarajhon Mccoy</h6>
                        <p class="user-subtitle">mccoy@example.com</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item">
                  <i class="icon-envelope mr-2"></i> Inbox
                </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item">
                  <i class="icon-wallet mr-2"></i> Account
                </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item">
                  <i class="icon-settings mr-2"></i> Setting
                </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item">
                  <i class="icon-power mr-2"></i> Logout
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </header>
      <!-- End topbar header -->
      <div>
        {% block content %}

        {% endblock %}
      </div>
      
          <!-- End Row -->

          <!-- End Dashboard Content -->

          <!-- start overlay -->
          <div class="overlay toggle-menu"></div>
          <!-- end overlay -->
        </div>
        <!-- End container-fluid -->
  
      <!-- End content-wrapper -->
      <!-- Start Back To Top Button -->
      <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>
      <!-- End Back To Top Button -->

      <!-- Start footer -->
      
      <!-- End footer -->

      <!-- start color switcher -->
      <div class="right-sidebar">
        <div class="switcher-icon">
          <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
        </div>
        <div class="right-sidebar-content">
          <p class="mb-0">Gaussion Texture</p>
          <hr />

          <ul class="switcher">
            <li id="theme1"></li>
            <li id="theme2"></li>
            <li id="theme3"></li>
            <li id="theme4"></li>
            <li id="theme5"></li>
            <li id="theme6"></li>
          </ul>

          <p class="mb-0">Gradient Background</p>
          <hr />

          <ul class="switcher">
            <li id="theme7"></li>
            <li id="theme8"></li>
            <li id="theme9"></li>
            <li id="theme10"></li>
            <li id="theme11"></li>
            <li id="theme12"></li>
            <li id="theme13"></li>
            <li id="theme14"></li>
            <li id="theme15"></li>
          </ul>
        </div>
      </div>
      <!-- end color switcher -->
    </div>
    <!-- End wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- simplebar js -->
    <script src="{% static 'assets/plugins/simplebar/js/simplebar.js' %}"></script>
    <!-- sidebar-menu js -->
    <script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
    <!-- loader scripts -->
    <script src="{% static 'assets/js/jquery.loading-indicator.js' %}"></script>
    <!-- Custom scripts -->
    <script src="{% static 'assets/js/app-script.js' %}"></script>
    <!-- Chart js -->

    <script src="{% static 'assets/plugins/Chart.js/Chart.min.js' %}"></script>

    <!-- Index js -->
    <script src="{% static 'assets/js/index.js' %}"></script>

    <div class="chat-bar-collapsible">
      <button id="chat-button" type="button" class="collapsible">
        Chat with us!
        <i id="chat-icon" style="color: #fff;" class="fa fa-fw fa-comments-o"></i>
      </button>

      <div class="content">
        <div class="full-chat-block" style="width:100%;">
          <!-- Message Container -->
          <div class="outer-container">
            <div class="chat-container">
              <!-- Messages -->
              <div id="chatbox">
                <h5 id="chat-timestamp"></h5>
                <p id="botStarterMessage" class="botText">
                  <span>Loading...</span>
                </p>
              </div>

              <!-- User input box -->
              <div class="chat-bar-input-block">
                <div id="userInput">
                  <input id="textInput" class="input-box" type="text" name="msg" placeholder="Tap 'Enter' to send a message" />
                  <p></p>
                </div>

                <div class="chat-bar-icons">
                  <!-- <i id="chat-icon" style="color: crimson;" class="fa fa-fw fa-heart" onclick="heartButton()"></i> -->
                  <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send" onclick="sendButton()"></i>
                </div>
              </div>

              <div id="chat-bar-bottom">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="{% static 'scripts/responses.js' %} "></script>
  <script src="{% static 'scripts/chat.js' %} "></script>

  <script>
		let notifytime = {{ userTime.notify_time }}
	</script>

  <script>
		// Get the notify time value from Django template

		// Function to check if the current time is within the range
		function checkNotifyTime() {
			let notifyTime = new Date("{{ userTime.notify_time|date:"D, d M Y H:i:s"}}");
			// Get the current time
			let currentTime = new Date();
			console.log(notifyTime, currentTime)
	
			// Calculate the time 10 seconds after notify time
			let endTime = new Date(notifyTime.getTime() + 10 * 1000);
	
			// Check if the current time is between notify time and 10 seconds after that
			if (currentTime >= notifyTime && currentTime <= endTime) {
				// Redirect to another page
				console.log("running..!")
				window.location.href = "{% url 'notification' %}";

			}else{
				console.log("missed")
			}
		}
		console.log("start..!")
	
		// Call checkNotifyTime function every 2 seconds using setInterval
		setInterval(checkNotifyTime, 2000);
	</script>

  </body>
</html>
