{% extends 'baseindex/index.html' %}
{% block content %}
<div class="clearfix"></div>

      <div class="content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-lg-12">
              <div class="card">
                <div class="card-header">
                   Prescription List<div class="card-action">
                    <div class="dropdown">
                      <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown"><i class="icon-options"></i></a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void();">Action</a>
                        <a class="dropdown-item" href="javascript:void();">Another action</a>
                        <a class="dropdown-item" href="javascript:void();">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void();">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush table-borderless">
                    <thead>
                      <tr>
                        <th>S.No</th>
                        <th>Medicine Name</th>
                        <th>No.of.Days</th>
                        <th>Morning</th>
                        <th>Noon</th>
                        <th>Night</th>
                        <th>Before or After Meal</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>

                        <td>Dolo 650</td>
                        <td>3</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>Before Meal</td>
                      </tr>
                      <tr>
                        <td>1</td>

                        <td>Dolo 650</td>
                        <td>3</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                        <td>Before Meal</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
{% endblock %}
